/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap'); */

.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.outer {
  border-radius: 50%;
  font-size: 1.3rem;
  border: 1px solid gray;
  position: absolute;
  width: 95px;
  height: 95px;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #cee8ff50;
  line-height: 100px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background: rgba(232, 242, 255, 1);
  }
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: rgb(209, 213, 219, 1);
    border-radius: 50%;
    z-index: -1;
    animation: grow 1s ease-in-out infinite;
  }
  &::after {
    background: rgba(206, 232, 255, 0.4);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background: rgb(95, 132, 255);
      border-radius: 50%;
      z-index: -1;
      animation: grow 1s ease-in-out infinite;
    }
  }
  &::before {
    background: rgba(232, 242, 255, 0.6);
    animation-delay: -0.8s;
  }
}
@keyframes grow {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8, 1.8);
    opacity: 0;
  }
}

.btn-breathe {
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.btn-breathe:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in;
}

.new-height {
  height: 700px;
}

.fw {
  font-weight: 600px;
}
.carousel-height {
  height: 750px;
}
.bg-height {
  height: 800px;
}
.col-width1 {
  width: 1809px;
}

.overlay {
  transform: translateY(0%);
  transition: transform 0.4s ease-in-out;
}

.overlay:hover {
  transform: translateY(21.5%);
}

.offer_img{
  height: 450px;
}

/* .hover-scale:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow: hidden;
} */

.hover04 {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.duce {
  transform: translateY(21.5%);
}

.img-hover-zoom {
  overflow: hidden;
}

/* Blur-zoom Container */
.img-hover-zoom--blur img {
  -webkit-transition: 0.4s ease-in-out;
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.1);
  transform-origin: center; 
}
.img-zoom {
  transition: transform 1s;
  transform-origin: center;
}

.img-zoom.zoomed {
  transform: scale(1);
}


/* The Transformation */
/* .img-hover-zoom--blur:hover img  {
  transform: scale(1);
} */

